<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% if (locals.scripts) { %> 
        <% for(var i=0; i<scripts.length; i++) { %>
            <script src="<%= scripts[i]%>"></script>
        <% } %> 
    <% } %> 
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body style="margin: 0px; background-color: #415a77;">
    
<div class="container">   
    <div class="info-box">                   
        <div class="panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div class="panel-signin"><a id="signinlink" href="/login">Sign In</a></div>
            </div>    
            <div class="panel-body" style="padding-top:20px" >
                <form method="post" action="/submitUser">
                    <div style="margin-bottom: 15px" class="input-group">
                        <input id="login-username" type="username" class="form-control" name="username" placeholder="username">
                    </div>
                    <div style="margin-bottom: 15px" class="input-group">
                        <input id="login-email" type="email" class="form-control" name="email" placeholder="email">
                    </div>
                    <div style="margin-bottom: 15px" class="input-group">
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                    </div>

                    <% if (missing == "username") { %>
                        <div style="padding-left: 15px; font-size:85%;">Please enter a username (required)</div> 
                    <% } %>

                    <% if (missing == "email") { %>
                        <div style="padding-left: 15px; font-size:85%;">Please enter a email (required)</div> 
                    <% } %>

                    <% if (missing == "password") { %>
                        <div style="padding-left: 15px; font-size:85%;">Please enter a password (required)</div> 
                    <% } %>

                    <div style="margin-top:15px" class="btn">						
                        <button class="btn-signup" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>                    
        </div> 
    </div>
</div>
<%- include('templates/footer'); -%>