<%- include("templates/header") %>
<div class="home-title">
    <h1>Latest Uploads</h1>
</div>

<div class="option-btns">
    <div class="action-btns">
        <form action="/home/links" method="get">
            <button>Links</button>
        </form>
        <form action="/home/images" method="get">
            <button>Images</button>
        </form>
        <form action="/home/text" method="get">
            <button>Text</button>
        </form>
    </div>
</div>

<br>

<div class="profile-divider"></div>

<br>

<div class="home-table">
    <div class="table-info">
        <table>
            <tr>
                <th class="number">#</th>
                <th>URL</th>
                <th>Short URL</th>
                <th>Hits</th>
                <th>Created</th>
                <th>Last Hit</th>
            </tr>
            <% let i=0 %>
            <% for (i = 0; i < data.length; i++) { %>
                <%- include('templates/display_home', {data: data[i], number: i})  %> 
            <% } %>
        </table>
    </div>
</div>

<%- include("templates/footer") %>