<%- include("templates/header") %>
<div style=
"background-image: url('/public/pexels-daniel-absi-952670.jpg'); 
height: 100%; 
background-position: center;
background-size: cover;
position: relative;
color: white;"></div>
<form action='/signup' method='get'>
    <button>Sign up</button>
</form>
<form action='/login' method='get'>
    <button>Log in</button>
</form>
<%- include("templates/footer") %>
