<%- include("templates/header") %>

<div class="user-info">
    <h1><%= username %></h1>
    <button>Links</button>
    <button>Images</button>
    <button>Text</button>
</div>

<div class="profile-divider"></div>

<%- include("templates/footer") %>