<%- include("templates/header") %>

<div class="home-title">
    <h1>Upload</h1>
</div>

<div class="profile-divider"></div>

<br>

<form action="/upload/link" method="post" class="link">
    
</form>

<form action="/upload/image" method="post" enctype="multipart/form-data" class="image">

</form>

<form action="/upload/text" method="post" class="text">
    
</form>

<%- include("templates/footer") %>