<%- include("templates/header") %>

<div class="home-title">
    <h1>Upload</h1>
</div>

<div class="profile-divider"></div>

<br>

<div class="desc-area">
    <div name="desc" id="desc" class="desc"><%= text %></div>
</div>



<%- include("templates/footer") %>