<%- include("templates/header") %>

<div class="home-title">
    <h1>Upload</h1>
</div>

<div class="profile-divider"></div>

<br>

<div name="desc" id="desc"><%= text %></div>


<%- include("templates/footer") %>