body {
    font-family: Arial, Helvetica, sans-serif;
}

/* createUser.ejs, login.ejs  */
.info-box {
    width: 100%;
    height: 100%;
}

.panel-info {
    width: 400px;
    height: 205px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #caf0f8; 
    border-radius: 5px;
    background-color: white;
}

.panel-heading {
    background-color: #caf0f8; 
    padding: 7px; 
    opacity: 75%;
}

.panel-title {
    padding-left: 10px; 
    color: #023e8a;
}

.panel-signin {
    float: right; 
    font-size: 85%; 
    position: relative; 
    top:-10px;
}

.btn-signup {
    margin-left: 15px; 
    margin-bottom: 15px; 
    background-color: #0077b6; 
    color: white; 
    cursor: pointer; 
    border: none; 
    text-decoration: none; 
    padding: 5px 12px; 
    border-radius: 3px;
}

.form-control {
    width: 90%; 
    margin: auto; 
    display: block;
}

.btn-login {
    margin-left: 15px; 
    background-color: #4CAF50; 
    color: white; 
    cursor: pointer; 
    border: none; 
    text-decoration: none; 
    padding: 5px 12px; 
    border-radius: 3px;
}

/* header.ejs */
.navbar {
    width: 80%;
    margin: 0 auto;
}

.navbar h1 {
    float: left;
}

header {
    background: #778da9;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 30px;

    position: relative;
}

.btn-logout {
    color: #444;
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

nav button::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav button:hover::before  {
    width: 100%;
}

.btn-logout:hover {
    color: #000;
}

/* home.js */
.option-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btns button {
    width: 60px;
    margin: 10px;
    padding: 5px;
    background-color: #3a5a40; 
    color: white; 
    cursor: pointer; 
    border: none; 
    text-decoration: none; 
    border-radius: 3px;
}

.action-btns button:hover {
    background-color: #344e41;
}

.home-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-info table {
    border-collapse: collapse;
    width: 100%;
}

.table-info table th, .table-info table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-info table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-info table tr:hover {
    background-color: #ddd;
}

.table-info table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ccc5b9;
  color: #252422;
}

/* profile.ejs */
.user-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.user-info button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 97px;
    font-size: 18px;
}

.user-info button:hover {
    opacity: 0.7;
}

.profile-divider {
    border-top: 1px solid#888; 
    margin-top: 10px; 
    width: 75%;
    margin-left: 13%;
}