<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% if (locals.scripts) { %> 
        <% for(var i=0; i<scripts.length; i++) { %>
            <script src="<%= scripts[i]%>"></script>
        <% } %> 
    <% } %> 
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body style="margin: 0px;">

<header>
    <div class="navbar">

        <!-- LOGO? -->
        <!-- <h1>TI</h1> -->

        <nav>
            <ul>
                <li>
                    <form action="/home" method="get">
                        <button class="btn-logout">Home</button>
                    </form>
                </li>
                <li><form action="/profile" method="get">
                    <button class="btn-logout">My Profile</button>
                </form></li>
                <li>
                    <form action='/logout' method='post'>
                        <button class="btn-logout">Log out</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>